{% load socialaccount %}
{% load i18n admin_urls %}

<html>

<head>
    <title>Google Registration</title>
</head>

<body>
    <h1>Pagina iniziale di autenticazone con Oauth2 Google</h1>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }} !</p>
    Avatar URL: <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" > <br>
    UID: {{ user.socialaccount_set.all.0.uid }} <br>
    Date Joined: {{ user.socialaccount_set.all.0.date_joined}} <br>
    Last Login: {{ user.socialaccount_set.all.0.last_login}} <br>
    Full Name: {{ user.socialaccount_set.all.0.extra_data.name }} <br>

    <a href="{% url 'api-root' %}"><h3>Testa api</h3></a>
    <a href="{% url 'admin:index' %}"><h3>Admin</h3></a>

    {% else %}
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
    {% endif %}

</body>

</html>
